body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:16px"Microsoft YaHei UI","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;overflow-x: auto;
    width:100%;
}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}


.header{ width: auto;height: 43px;background:rgb(50,50,50); }
.header a{color:white;font-size: 13px;text-decoration: none}
#context{opacity:0.4;
    filter:alpha(opacity=40)}
.header a img:hover{opacity:0.5;
    filter:alpha(opacity=50) }
.container{background: no-repeat ;background-size: auto 650px }
.header a:hover{color:rgb(183,182,182) }
.head{ width:976px;height:50px;border-bottom:rgb(172,176,160) solid 1px;margin-left:auto;margin-right:auto}
.head div{float:left;color:rgb(50,50,50);}
.head-left{margin-right: 42.300em;margin-top:15px ;font-size: 20px;margin-left: 8px;}
.head-right{margin-right:2.000em;font-size:10px;margin-top: 24px;}
.head-max-right{font-size:10px ;margin-top:24px;}
.bg{width: auto;height: 650px;background:url("image/hero-banner-homepage.image.large_2x.jpg") no-repeat -170px -28px;
background-size: auto 100%;overflow: hidden;}
.bg h1,h2{text-align: center}

.headline h1{ font-size:45px;font-weight:normal;margin-top: 74px;color: rgb(51,51,51)}
.headline h2{font-size: 22px;font-weight: lighter;margin-top: 29px;color: rgb(51,51,51)}
.headline input{width: 654px;height: 53px;margin-top: 26px;display:table;margin-right: auto;margin-left: auto;
background:white url("image/search_icon_black.svg") no-repeat 10px 16px;background-size: 25px;padding-left: 50px;
font-size: 20px;color: rgb(195,195,195);opacity:1.0;filter:alpha(opacity=10);border: none}
.body-top{width:100%;height:170px;border-bottom:rgb(222,222,222) solid 1px;}
.body-top ul li{  width:115px;height:115px; float: left;margin-right:48px;line-height:50px;text-align: center;
 }
.body-top li:active{border:lightskyblue solid 3px ;box-sizing:border-box}
#special_list{margin-left:14px}
.body-top a:hover{color:rgb(45,55,75);
  }
.body-top li:link{border: aqua 1px solid}
.body-top ul{display: table;width:1000px;margin-left: auto;margin-right: auto ;
    margin-top:17px;}
.body-mid{width: 100%;height: 70px;border-bottom:rgb(222,222,222) solid 1px;text-align: center;line-height: 70px;
    color: rgb(0,112,201);font-size: 15px ;}
.body-mid2{height: 324px;width: auto;border-bottom:rgb(222,222,222) solid 1px; }
.body-mid2-left{width: 50%;height: 100%;float: left}
.body-mid2-right{width: 50%;height: 100%;float: right}
.body-mid2-left img{float: right;margin-top: 60px}
.body-mid2-right h1{margin-top: 48px;color: rgb(51,51,51);font-weight:normal;}
.body-mid2-right p{width: 420px;font-size: 20px;color: rgb(51,51,84);font-weight: lighter;margin-top: 30px;margin-bottom: 15px}
.body-mid2-right a{display: block;float: left;clear: left;margin-top: 15px;color:rgb(7,116,208);font-size: 20px;
font-weight: lighter}
.body-mid2-right img{ height: 20px;line-height: 20px;margin-left:10px}

.body-mid3{width:100%;height:425px; }
.body-mid3-left{width: 50%;height: 100%;float: left}
.body-mid3-right{width: 50%;height: 100%;float: right}
.body-mid3-left img{float: right;clear: right;margin-right: 150px;margin-top: 37px}
.body-mid3-right img{float: left;clear: left;margin-left: 150px;margin-top: 40px}
.body-mid3-left h1{float: right;clear: right;margin-right: 260px;font-size: 28px;color: rgb(51,51,51);font-weight: normal}
.body-mid3-right h1{float: left;clear: left;margin-left: 51px;font-size: 28px;color: rgb(51,51,51);font-weight: normal}
.body-mid3-left p{float: right;clear: right;width: 450px;margin-right: 36px;font-size: 15px;margin-top: 22px;
line-height: 25px}
.body-mid3-right p{float: left;clear: left;width: 442px;margin-left: 54px;font-size: 15px;margin-top: 22px;line-height: 25px }
.link1{display:inline-block ;width:200px; }
.link2{display:inline-block;width: 200px}
.link1 img{float:none;display:inline-block;margin-top: 0px}
.link2 img{float:none;margin-top: 0px;display:inline-block;margin-left: 0px}
.body-mid3 a{color:rgb(0,112,201) }
.bottom{width: 100%;height:270px;border-bottom:rgb(222,222,222) solid 1px; border-top:rgb(222,222,222) solid 1px;}
.bottom h2{text-align: center;font-weight: normal;margin-top: 25px;margin-bottom: 22px}
.bottom p{width: 811px;text-align: center;margin-right: auto;margin-left: auto;font-size: 15px;line-height: 25px;color: rgb(51,51,51)}
.bottom a {color:rgb(0,112,201)}
.bottom .para{margin-top:25px }

.bottom-nd{width: 100%;height: 480px;border-bottom:rgb(222,222,222) solid 1px;color: rgb(51,51,51)}
.bottom-left{width: 50%;height: 100%;float: left}
.bottom-right{width: 50%;height: 100%;float: right}
.bottom-left img{float: right;clear: right;margin-top: 40px;margin-right: 58px}
.bottom-right img{float:left;clear: left; margin-top: 40px;margin-left: 100px}
.bottom-right p{float: left;clear: left;width: 445px;font-size: 15px;margin-left: 70px;line-height: 28px;margin-top: 18px}
.bottom-right h1{float: left;clear: left;margin-left: 70px;font-size: 28px;font-weight: normal;margin-top: 20px}
.bottom-left p {float: right;clear: right;width: 440px;font-size: 15px;margin-right: 38px;line-height: 28px;margin-top: 18px}
.bottom-left h1{float: right;clear: right;margin-right: 225px;font-size: 28px;font-weight: normal;margin-top: 20px}
.link3 a{display: inline-block;color:rgb(0,112,201) }
.link4 a{display: inline-block;color:rgb(0,112,201)}
.link4 img{margin-top: 0px;float:none;margin-left:5px}
.link3 img{margin-top:0px;float: none;margin-left: 5px}
.bottom-rd{height: 520px;width: 100%;
    background: url("image/today-at-apple-workshop-banner.image.large_2x.jpg") no-repeat  -265px -0px;
background-size:auto 100% ;}
.half{width: 50%;height: 100%;
float:left}
.half-nd{width: 50%;height: 100%;float: right}
.half h1{float: right;clear: right;width: 320px;
    margin-top:122px;margin-right: 188px ;color: white;line-height: 50px}
.half p{float: right;width: 406px;color: white;margin-right: 104px;line-height:30px;margin-top: 15px;font-weight:normal}
.half p a{color:rgb(0,112,201) }
.bottom-th{width: 976px;height:230px;margin-left: auto;margin-right: auto;background:white;border-bottom:rgb(222,222,222) solid 1px}
.th-left{width: 60%;height: 100%;float: left}
.th-right{float: right;width: 40%;height: 100%;
    background: url("image/featured-content-security_2x.png") no-repeat 155px 30px;
background-size: 40%}
.th-left h1{margin-top: 35px;margin-left:76px;font-size: 28px;color: rgb(51,51,51);font-weight: normal}
.th-left p{margin-left: 76px;line-height: 30px;font-size: 15px;color: rgb(51,51,51)}
.th-left p a{color:rgb(0,112,201) }
.bottom-fif{height: 150px;width:976px;border-bottom:rgb(222,222,222) solid 1px;margin-left: auto;margin-right: auto }
.bottom-fif div{margin-right: auto;margin-left: auto;display: table}
 .top_{font-size: 18px;color: rgb(51,51,51);margin-top:26px;margin-bottom: 20px }
 .bottom_ a{font-size: 15px;color:rgb(0,112,201) }
 .bottom-six{height: 176px;width:976px;border-bottom:rgb(222,222,222) solid 1px;margin-left: auto;margin-right: auto}
 .bottom-six div{margin-right: auto;margin-left: auto;display: table}
 .top2{font-size: 35px;color: rgb(51,51,51);margin-top: 50px;margin-bottom: 25px}
 .bottom2 a{font-size: 15px;color: rgb(0,112,201)}
 .bottom-sev{
     width: 414px;height: 491px;margin-right: auto;margin-left: auto}
 .bottom-sev div{display: table;margin-left: auto;
     margin-right: auto;font-size:20px;font-weight:normal;color: rgb(51,51,51);
 margin-top: 48px;}
 .bottom-sev ul{display: table;margin-right: auto;margin-left: auto;text-align: center}
 .bottom-sev li{line-height: 40px;height: 40px }
 .bottom-sev a{color: rgb(0,112,201);font-size: 15px}
 .bottom-eig{height:270px;width:976px;border-bottom:rgb(222,222,222) solid 1px;background:rgb(242,242,242);
 margin-left: auto;margin-right: auto}
 .last{height:50px;background:rgb(242,242,242)}
 .foot{background:rgb(242,242,242);width: 100% }
 .float{float: left;margin-right: 178px;margin-top: 15px}
 .float h3{font-size: 10px;color: rgb(51,51,51)}
 .float li a{font-size:10px ;color: rgb(51,51,51);}
 .float li{line-height: 20px;height: 20px}
 .last div{float: left;font-size: 10px;color:rgb(149,162,184);display: inline-block;margin-right: 10px;}
.last a{display: inline-block;padding-right: 10px}
#special{margin-left: 184px;margin-right:24px}
@media screen and (max-width:1920px){
    .header li {float: left; line-height: 43px;height: 43px;padding-left:5.500em }

    .header ul{width: 1148px;display: table;margin-left: auto;margin-right: auto  }
}