body form {display:table ;margin-left: auto;margin-right: auto}
.button{display: block;margin-right: auto;margin-left: auto}
span {color:rgb(51,51,51);
 width: 20px;
font-size: 12px;
padding-left: 10px;height: 20px;line-height: 20px}
input{ outline:none;}